<!DOCTYPE html>
<html>
<head>
  <title>RailsTemplateR31</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
<%= javascript_include_tag 'jquery', 'rails.validations'-%>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<% flash.each do |name, msg| %>  
	    <%= content_tag :div, msg, :id => "flash#{name}" %>  
	  <% end %>
<%= yield %>

</body>
</html>
